body{
    margin: 0;
    padding: 0;
    font-family: "Asap";
}

#page{
    background-color: white; 
}

.background{
    margin-top: 3%;
    margin-left: 3%;
    width: 5%;
}

#logo{
    max-width: 100%;
    max-height: 100%;
}

#main-window{
    display: flex;
    background-color: #099dfd;
    height: 65vh;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 4px 5px 0 #0000000d, 0 1px 20px 0 #0000004d;
}

#left-side{
    width: 50%;
}

#intro-container{
    padding-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#intro-text{
    color: white;
    font-size: 1.75rem;
}

#right-side{
    flex: 2;
    width: 50%;
    height: 100%;
    background-color: white;
}

#illustration{
    max-width: 100%;
    max-height: 100%;
}

#illustration-container{
    width: 50%;
    margin: auto;
    margin-top: 15%;
}

.login-container{
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

#login-text{
    font-size: 1.5rem;
}

#highlighted{
    color: #099dfd;
}

#email{
    margin-top: 20px;
}
input{
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    font-size: 0.8rem;
    border: 3px solid #099dfd;
    border-radius: 7px;
}

.submitButton{
    margin-top: 15px;
    width: 20%;
    color: white;
    background-color: #099dfd;
    border-radius: 7px;
    padding: 5px;
    font-size: 0.8rem;
}